.center-outer {
	display: table;
	margin: auto;
	border-spacing: 100px;
}

@keyframes ossilate {
    50% {
        transform: scale(0.7);
    }
	100% {
        transform: scale(1.0);
    }
}
@keyframes spinClock {
    0% {
        transform: rotate(0deg);
    }
	100% {
        transform: rotate(359deg);
    }
}

@keyframes spinCClock {
    0% {
        transform: rotate(359deg);
    }
	100% {
        transform: rotate(0deg);
    }
}

.ossil {
	animation-name: ossilate;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
}

.center-inner {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

#spinnyCClock {
	animation-name: spinCClock;
    animation-duration: 5s;
    animation-iteration-count: infinite;
	animation-timing-function: linear;
}

#spinnyClock {
	animation-name: spinClock;
    animation-duration: 5s;
    animation-iteration-count: infinite;
	animation-timing-function: linear;
}

body, html, .center-inner, .center-outer {
  height: 100%;
}

html, body {
  width: 100%;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, body, p, a {
  font-family: 'Source Sans Pro', sans-serif;
}
a {
    text-decoration:none;
	color: inherit;
}
.dancer {
	opacity: 0;
}
.centered {
	position: absolute;
	z-index: -1;
	left: 50%;
	top: 50%;
	margin-left: -300px;
	margin-top: -300px;
}
#bottomBar {
	text-align: center;
	background-color: #515151;
	padding: 10px 0 0 0
}
